.container {
   display: inline-grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

#scriptOutput {
   font-family: "Times New Roman", Times, serif;
   color: black;
   font-size: 5vmax;
   font-weight: bold;
}

.item {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: span 5;
   align-self: start;
   justify-self: start;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   color: red;
}
